.section4-main-wrapper {
  width: 100%;  
  margin: auto;
  padding: 130px 0;
}

.section4-inner-wrapper {
  width: 90%;
  margin: auto;  
  /* border: 1px solid #fff; */
}

.roadmap-heading-wrapper h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}

.roadmap-heading-wrapper h1 span {
  color: #c3e747;
}

.section4-inner-wrapper .roadmap-container {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: center;  
}

.img-box {
  width: 33.3%;
  margin-top: 250px;
}

.img-left-wrapper{  
  text-align: right;
  padding-right: 0px;
  /* border: 1px solid #fff; */
}

.img-right-wrapper{  
  text-align: left;
  padding-left: 0px;
  /* border: 1px solid #fff; */
}

.img-right-wrapper img{    
  /* border: 1px solid #fff; */
}

.road-map-container {
  position: relative;
  display: flex;
  width: 66.6%;
}

.roadmap-left {
  width: 50%;
  border-right: 2px solid #6e5caa;
  height: 1200px;
  position: relative;
}

.line-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  background-color: #6e5caa;
}
.line-dot1 {
  right: -10px;
  top: 50px;
}

.line-dot2 {
  right: -10px;
  top: 200px;
}

.line-dot3 {
  right: -10px;
  top: 350px;
}

.line-dot4 {
  right: -10px;
  top: 500px;
}

.line-dot5 {
  right: -10px;
  top: 650px;
}

.line-dot6 {
  right: -10px;
  top: 800px;
}

.pink {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
  color: #ff51a4;
}

.roadmap-container li,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  /* text-align: justify; */
}

.roadmap-container li {
  margin-left: 20px;
}

.lt1 {
  position: absolute;
  right: 30px;
  top: 50px;
}

.lt2 {
  position: absolute;
  right: 30px;
  top: 200px;
}

.lt3 {
  position: absolute;
  right: 30px;
  top: 350px;
}

.lt4 {
  position: absolute;
  right: 30px;
  top: 500px;
}

.lt5 {
  position: absolute;
  right: 30px;
  top: 650px;
}

.lt6 {
  position: absolute;
  right: 30px;
  top: 800px;
}

.roadmap-right {
  width: 50%;
  height: 1200px;
  position: relative;
}

.rt1 {
  position: absolute;
  left: 30px;
  top: 48px;
}

.rt2 {
  position: absolute;
  left: 30px;
  top: 200px;
}

.rt3 {
  position: absolute;
  left: 30px;
  top: 350px;
}

.rt4 {
  position: absolute;
  left: 30px;
  top: 500px;
}

.rt5 {
  position: absolute;
  left: 30px;
  top: 650px;
}

.rt6 {
  position: absolute;
  left: 30px;
  top: 800px;
}

/* @media (max-width: 1980px) {
  .roadmap-container {    
    width: 80%;
    margin: auto;        
  }
} */


@media (max-width: 768px) {
  .roadmap-container {
    display: block;
  }
  .section4-main-wrapper {
    padding: 50px 0;
  }
  .img-box {
    display: none;
  }
  .road-map-container {
    display: flex;
    width: 100%;
  }
  .roadmap-container {
    margin-top: 30px;
    justify-content: center;
  }
  .road-map-container .roadmap-left {
    width: 50%;
    height: 2200px;
  }
  .road-map-container .roadmap-right {
    width: 50%;
    height: 2200px;
  }
  .line-dot3 {
    right: -10px;
    top: 370px;
  }
  .lt3 {
    position: absolute;
    right: 30px;
    top: 370px;
  }
  .rt3 {
    position: absolute;
    right: 30px;
    top: 370px;
  }
  .line-dot4 {
    right: -10px;
    top: 630px;
  }
  .lt4 {
    position: absolute;
    right: 30px;
    top: 630px;
  }
  .rt4 {
    position: absolute;
    left: 30px;
    top: 630px;
  }
  .line-dot5 {
    right: -10px;
    top: 970px;
  }
  .lt5 {
    position: absolute;
    right: 30px;
    top: 970px;
  }
  .rt5 {
    position: absolute;
    left: 30px;
    top: 970px;
  }
  .line-dot6 {
    right: -10px;
    top: 1400px;
  }

  .lt6 {
    position: absolute;
    right: 30px;
    top: 1400px;
  }
  .rt6 {
    position: absolute;
    left: 30px;
    top: 1400px;
  }
}
