.terms-and-conditions-wrapper {
  width: 100%;
  background-color: #fff;
}

.terms-and-conditions-container {
  width: 80%;
  margin: 0 auto;
}

.terms-and-conditions-container h1 {
  text-align: center;
  color: #ce3943;
  font-family: Sans-serif;
  padding-bottom: 20px;
  padding-top: 10px;
}

.terms-and-conditions-container p,
ul {
  padding-bottom: 20px;
  text-align: justify;
}

.terms-and-conditions-container a {
  color: #ce3943;
  text-decoration: none;
}

.terms-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.terms-form .text-field {
  width: 100%;
}

.terms-form .submit {
  color: #c36;
  border: 1px solid #c36;
  background-color: #fff;
  outline: none;
  text-transform: capitalize;
}

.terms-form .submit:hover {
  background-color: #c36;
  color: #fff;
  outline: none;
}

@media (max-width: 768px) {
  .terms-and-conditions-container {
    width: 90%;
  }
  .terms-form {
    width: 80%;
  }
}
