.section1-main-wrapper {
  width: 100%;
  margin-top: 50px;  
  padding-bottom: 70px;
}

.section1-inner-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.section1-inner-wrapper .section1-left .heading1 {
  margin-top: 70px;
  font-size: 66px;
  font-weight: 700;
  color: #c3e747;
}

.section1-inner-wrapper .section1-left p {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
}

.section1-inner-wrapper .section1-left .heading2 {
  font-size: 66px;
  font-weight: 700;
  color: #fff;
}
.section1-inner-wrapper .section1-left .heading2 span {
  color: #f25ea3;
}
.section1-inner-wrapper .section1-left .round-button-wrapper {
  margin-top: 30px;
}
.souldout-buton-wrapper{
  margin-top: 30px;
  display: flex;
}
.sould-out-btn{
  border: none;
  outline: none;
  width: 194px;  
  height: 70px;
  background: linear-gradient(90deg, #FF57A1 0%, #FFD464 95.88%);
  color: #1D104A;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 70px;
  text-align: center;  
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

.buy-on-opensea-btn{
  border: none;
  outline: none;
  width: 305px;
  height: 70px;  
  line-height: 70px;
  text-align: left;
  padding-left: 20px;
  background-color: #2081E2;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.buy-on-opensea-btn img{
  width: 35px;
  height: 35px;  
}

.buy-on-opensea-btn:hover{
  background-color: #0B68C6;
}
.section1-inner-wrapper .section1-left .round-button-wrapper .round-button {
  font-size: 18px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 35px;  
  background: linear-gradient(90deg, #FF51A4 0%, #FFDC60 100%);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.section1-inner-wrapper
  .section1-left
  .round-button-wrapper
  .round-button
  span {
  color: #fff;
}


@media (max-width: 768px) {
  .section1-inner-wrapper {
    display: block;
  }

  .section1-inner-wrapper .section1-left .round-button-wrapper .round-button {
    font-size: 14px;
    padding: 12px 20px;    
    line-height: 20px;    
    font-weight: 700;        
    text-align: center;
  }
  .section1-right img{
    width: 100%;
    margin-top: 50px;
  }
  .sould-out-btn{
    font-size: 16px;
  }
  .buy-on-opensea-btn{
    font-size: 16px;
    
  }
}
